html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: solid #fff 2px;
    margin-bottom: 20px;
}


form {
    padding: 30px;
    text-align: center;
}

input {
    width: 60%;
    margin: 0 0 15px 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.message {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 260px 0 0;
    font-size: 30px;
    font-weight: bold;
}

.search {
    border-radius: 5px;
    border: solid #4aaaa5 2px;
    background-color: #fff;
    color: #000;
}

.add,
.addmore,
.addFav,
.cleargifs {
    border-radius: 5px;
    border: solid #fff 2px;
    background-color: #4aaaa5;
    color: #fff;
}

.addmore,
.cleargifs {
    font-size: 20px;
    margin: 20px 0 0;
}

.search {
    margin: 5px 5px;
}

.add {
    width: 30%;
}

.addFav {
    margin: 10px 0 40px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.gifButtons {
    padding: 5px 0;
}

button {
    z-index: 1000;
}

.active {
    background-color: #000;
    color: #fff;
}

.gifs {
    width: 90%;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.click {
    width: 250px;
}

.gifs p {
    font-size: 15px;
    text-align: center;
    width: 250px;
}

span {
    margin: 0 10px;
    display: inline-block;
}

img {
    cursor: pointer;
}

.top {
    width: 50px;
    height: 50px;
    background-image: url('../images/up_arrow.svg');
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    z-index: 1;
    background-color: #262626;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    h1,
    h2 {
        font-size: 30px;
    }

    button {
        font-size: 14px;
    }

    .addmore,
    .cleargifs {
        margin: 4px;
        font-size: 14px;
    }

    .addFav {
        margin: 5px 0 10px;
    }

    .add {
        line-height: 16px;
    }
}

@media screen and (max-width: 767px) {
    h1,
    h2 {
        color: #262626;
        border-bottom: solid 2px #262626;
    }

    .add,
    .addmore,
    .addFav,
    .cleargifs {
        border: solid #262626 2px;
    }

    .add {
    	line-height: 30px;
    }

    .sidebar {
        position: static;
        background-color: #fff;
    }

    input {
        border: solid #262626 2px;
    }

    .gifButtons {
        text-align: center;
    }

    .message {
        padding: 0;
    }
}